.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 85%;
    height: 100%;
    margin: auto;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

.carousel-content.show-2 > * {
    width: 100%;
}

.carousel-content.show-3 > * {
    width: calc(100%/3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

/* Buttons */
.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 165%;
    transform: translate(-10%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
}

.left-arrow {
    left: 190px;
}
.left-arrow:hover,  .right-arrow:hover {
    color: black;
    box-shadow: 5px 5px 14px -4px #000000;
}

.right-arrow {
    right: 80px;
}

@media screen and (max-width: 1600px) and (max-height: 1200px) {
    .left-arrow, .right-arrow {
        /* position: absolute; */
        z-index: 1;
        top: 145%;
        transform: translateY(20%,45%);
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: white;
        border: 1px solid #ddd;
        cursor: pointer;
    }
}